@model SchoolProject.Models.People
@{
    ViewBag.Title = "Login2";
}

<h2>YourDetails</h2>
YourUserName :@Model.UserName
<br/>
YourPassword :@Model.Password
<br/>
<h3 style="color:aquamarine">WelcomePage</h3>
