
@{
    ViewBag.Title = "Login";
}

<h2>LoginPage</h2>
<form action="/Home/Login" method="post" class="form-group">
   UserName : <input class="form-control" type="text" name="UserName" />
    <br/>
  Password :  <input class="form-control" type="password" name="Password" />
    <br/>
    <input class="form-control btn btn-default" type="submit" value="Login" />
</form>


